* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #7f469a;
  box-shadow: 0px -1px 8px 0px #444;
}

nav > button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  color: #7f479a;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 1px 1px 5px 0px #444;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
}

nav > button:hover {
  cursor: pointer;
  background: #7f479a;
  color: #fff;
}

main {
  flex: 1 1 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

 #modal {
        /*display: none;*/
        position: relative;
        left: 50%;
        top: 50%;
        padding-top: 10px;
        width: 300px;
        background: #FBFBF0;
        border-radius: 5px;
        z-index: 9;
        font-family: arial;
        transform: translate3d(-50%, -50%, 0);
      }
      
      .boxTexto {
        margin: 10px;
        padding-left: 10px;
        height: 30px;
        border-radius: 15px;
        border-width: 1px;
        border-color: #7E459A;
      }
      
      .boxEmail {
        margin: 10px;
        padding-left: 10px;
        height: 30px;
        border-radius: 15px;
        border-width: 1px;
        border-color: #7E459A;
      }
      
      .logo-login{
        padding: 30px;
        margin: 0;
      }

      .formulario {
        display: block;
        padding: 30px;
        padding-top: 10px;
        margin: auto;
      }

      .botao-login {
        padding: 8px 30px 8px 30px;
        background-color: rebeccapurple;
        color: #FFFFFF;
        border: none;
        border-radius: 15px;
        margin-left: 90px;
        margin-top: 10px;
      }

      #botaoFechar {
        opacity: 0.4;
        position: absolute;
        top: 5%;
        right: 5%;
      }

      #botaoFechar img {
        width: 30px;
      }

      #fundo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: none;
      }

       #fundo.visivel {
        display: block;
      }